.list {
  height: 100%;
  overflow-y: scroll;
}

.list>h1 {
  color: brown;
}

.innerArticles {
  border: 1px solid lightgray;
  margin: 1px;
}

.innerArticles:hover {
  border: 1px solid transparent;
}

.innerArticles:focus {
  border: 1px solid red;
}