body {
  height: 100vh;
  width: 100vw;
  background-color: white;
  box-sizing: border-box;
  margin: 0;
  font-size: 1rem;
  overflow: hidden;
  font-family: sans-serif;
  font-family: 'Helvetica Neue', Tahoma, Geneva, Verdana, sans-serif;
}

* {
  box-sizing: inherit;
}